PUERTO_ESCUCHA=8002
TAM_MEMORIA=4096
TAM_PAGINA=64
ENTRADAS_POR_TABLA=4
CANTIDAD_NIVELES=3
RETARDO_MEMORIA=1500
PATH_SWAPFILE=/home/utnso/tp-2025-1c-apruebenOS/memoria/files/swapfile.bin
RETARDO_SWAP=15000
LOG_LEVEL=TRACE
DUMP_PATH=/home/utnso/tp-2025-1c-apruebenOS/memoria/files/dump_files
PATH_INSTRUCCIONES=/home/utnso/tp-2025-1c-apruebenOS/memoria/files/scripts/
